//colors
$brand: #FF7C1E;
$offwhite: hsl(0, 0%, 98%);
$low-contrast: hsl(0, 0%, 89%);
$high-contrast: hsl(0, 0%, 30%);
$offblack: hsl(0, 0%, 18%);

.modal-card-head {
  //border-radius: 0;
  background-color: $brand;
}

.modal-card-title {
  color: $high-contrast;
  font-weight: 350;
}

.modal-card-foot {
  //border-radius: 0;
}

.modal-card-body {
  background-color: $offwhite;
}

.input, .textarea {
  background-color: $low-contrast;
  border-radius: 0;
}

.label {
  font-weight: 200;
  color: $high-contrast;
}


@media (max-width: 768px) {
  .modal-card {
    width: 85%;
  }

  .modal-card-head {
    height: auto;
  }

  .label {
    //font-size: 3rem;
  }

  .input {
    //height: 4rem;
  }

  .modal-card-title {
    //0font-size: 4rem;
  }
}
