<div *ngIf="isViewable" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Contact</p>
      <button (click)="closeWindow()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="field">
          <label for="name" class="label">Your name</label>
          <div class="control">
            <input type="text" class="input">
          </div>

        </div>
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control">
            <input type="text" class="input">
          </div>
        </div>
        <div class="field">
          <label for="message" class="label">message</label>
          <div class="control">
            <textarea name="" id="" cols="30" rows="10" class="textarea"></textarea>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
