<div *ngIf="isViewable" class="modal is-active">
  <div (click)="closeWindow()" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Contact</p>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="field">
          <label for="name" class="label">What's your name?</label>
          <div class="control">
            <input required #nameVal="ngModel"[(ngModel)]="name" name="name" type="text" class="input" placeholder="">
          </div>

        </div>
        <div class="field">
          <label for="email" class="label">What's your email?</label>
          <div class="control">
            <input email [(ngModel)]="email" name="email" type="text" class="input" #emailVal="ngModel">
          </div>


              <p class="help is-danger" [ngClass]="{'help is-danger': emailVal.invalid && (emailVal.dirty || emailVal.touched)}">
                That's not an email
              </p>


        </div>
        <br />
        <div class="field">
          <label for="message" class="label">What can I do for you?</label>
          <div class="control">
            <textarea [(ngModel)]="message" name="message" id="" cols="30" rows="10" class="textarea"></textarea>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button (click)="onFormSubmit()"class="button is-success">Send</button>
      <button (click)="closeWindow()" class="button">Cancel</button>
    </footer>
  </div>
</div>
