<particles [params]="myParams" class="particles"></particles>
<div class="columns is-gapless no-margin">
  <div class="column is-half">
    <div class="box no-pad">
      <figure class="image is-square main-head-picture">
        <img src="assets/images/img1.jpg">
      </figure>
    </div>
  </div>
  <div class="column is-half info">
    <div class="container head-container">
      <section class="name-container">
        <div class="name-content">
          <h1 class="title name-main">{{ name }}</h1>
          <ul class="subtitle level skills is-mobile">
            <li>Design</li>
            <li>Photo</li>
            <li>Web</li>
            <li>Film</li>
          </ul>
        </div>
      </section>
      <!-- Switch below class to something more descriptive of the class. . .name content or something? -->
      <section class="contstuff">
        <div class="cont-box">
          <h1 class="intro-text branded">Hi there!</h1>
          <br>
          <p class="intro-content">
              Welcome to my site! This is where I keep records on all my projects. If you want to see what goes on in my head, check out my blog. If you’re a client and you want to check out my work, navigate over to the projects page.

              Wanna know more about me? Just keep scrolling!

          </p>
          <button class="button is-outlined branded-button" type="button" name="button">Contact</button>
        </div>
      </section>
    </div>
  </div>
</div>

<section ngsReveal class="section web-dev">
  <div class="skill-item">
    <div class="hero high-contrast-background">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title branded box-head pulse">
              I'm a web developer!
          </h1>
        </div>
      </div>
    </div>
    <div class="columns skill-column">
        <div class="column is-half">
          <div class="content">
            <p class="skill-description">
              An interest in the Raspberry Pi introduced me to programming with Python which introduced me to web development with Django. I’ve been making websites ever since. Most recently, I’ve taken up blockchain development in the form of Ethereum DApp and smart contract development.
            </p>
          </div>
        </div>
        <div class="column is-half">
          <div class="badges">
            <img class="badge swing" src="assets/svgs/angular.svg"/><img class="badge swing"src="assets/svgs/css.svg"/><img class="badge swing"src="assets/svgs/html.svg" alt=""><img class="badge swing"src="assets/svgs/mongo.svg" alt=""><img class="badge swing" src="assets/svgs/node.svg" alt="">
          </div>
        </div>
      </div>
    </div>
</section>

<section ngsReveal class="section Filmmaker">
  <div class="skill-item">
    <div class="hero high-contrast-background">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title branded box-head pulse">
              I'm a Filmmaker!
          </h1>
        </div>
      </div>
    </div>
    <div class="columns skill-column">
        <div class="column is-half">
          <div class="content">
            <p class="skill-description">
              Filmmaking was perhaps my first passion. I have over 9 years of experience in several roles in film/video production. I generally specialize in post production, specifically editing and coloring, but I’ve done work in several other roles as well.            </p>
          </div>
        </div>
        <div class="column is-half">
          <div class="badges film">
            <img class="badge swing" src="assets/svgs/Premiere.svg"/><img class="badge swing"src="assets/svgs/AfterEffects.svg"/><img class="badge swing"src="assets/svgs/Resolve.svg" alt=""><img class="badge swing"src="assets/svgs/Fusion.svg" alt="">
          </div>
        </div>
      </div>
    </div>
</section>

<section ngsReveal class="section designer">
  <div class="skill-item">
    <div class="hero high-contrast-background">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title branded box-head pulse">
              I'm a designer!
          </h1>
        </div>
      </div>
    </div>
    <div class="columns skill-column">
        <div class="column is-half">
          <div class="content">
            <p class="skill-description">
              Aesthetics and the art of design is something I’ve always had an interest in. Being a designer plays a huge role in how I approach my web and film work, as well as any visual project that I’m involved with.
            </p>
          </div>
        </div>
        <div class="column is-half">
          <div class="badges">
            <img class="badge swing" src="assets/svgs/illustrator.svg"/><img class="badge swing"src="assets/svgs/photoshop.svg"/><img class="badge swing"src="assets/svgs/sketch.svg" alt=""><img class="badge swing"src="assets/svgs/xd.svg" alt="">
          </div>
        </div>
      </div>
    </div>
</section>
