<particles [params]="myParams" class="particles"></particles>
<div class="columns is-gapless no-margin">
  <div class="column is-half">
    <div class="box no-pad">
      <figure class="image main-head-picture">
        <img src="assets/images/img1.jpg">
      </figure>
    </div>
  </div>
  <div class="column is-half info">
    <div class="container head-container">
      <section class="name-container">
        <div class="name-content">
          <h1 class="title name-main">{{ name }}</h1>
          <ul class="subtitle level skills is-mobile">
            <li>Design</li>
            <li>Photo</li>
            <li>Web</li>
            <li>Film</li>
          </ul>
        </div>
      </section>
      <!-- Switch below class to something more descriptive of the class. . .name content or something? -->
      <section class="contstuff">
        <div class="cont-box">
          <h1 class="intro-text branded">Hi there!</h1>
          <br>
          <p class="intro-content">
              Welcome to my site! This is where I keep records on all my projects. If you want to see what goes on in my head, check out my blog. If you’re a client and you want to check out my work, navigate over to the projects page.

              Wanna know more about me? Just keep scrolling!

          </p>
        </div>
      </section>
    </div>
  </div>
</div>

<section class="section web-dev">
  <div class="hero high-contrast-background">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title branded">
            I'm a web developer!
        </h1>
      </div>
    </div>
  </div>
  <div class="columns">
      <div class="column is-half">
        <div class="box">
          <div class="content">
            <p class="mixin-test">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, alias at sit deserunt architecto non, voluptatem voluptate natus eius consequuntur omnis aliquid doloribus earum qui? Maxime quaerat dolores neque modi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam doloremque veritatis officia fuga quas ex, temporibus quis? Deleniti rem perferendis voluptas vel veritatis a, eaque cumque quo excepturi ex ducimus?
              Quod quas nisi fuga optio ipsa minima eius quidem incidunt voluptas asperiores rerum harum officia dolore adipisci, dolores architecto repudiandae. Quaerat possimus rerum quae nulla exercitationem asperiores labore? Quaerat, provident?
              Rem molestiae pariatur deleniti et alias quas ipsa veniam quam omnis eaque vero saepe recusandae vitae accusamus necessitatibus corporis possimus explicabo, placeat architecto? Necessitatibus atque ipsam, unde at velit corrupti!
              Voluptate cumque id asperiores? Beatae sunt repellendus natus optio ullam voluptatum placeat totam quos quidem asperiores.
              Id natus nisi tempore, et culpa, ratione molestias eveniet magnam eveniet, doloremque praesentium accusamus expedita aperiam natus officia nobis numquam eligendi dolorum!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-half">

      </div>
    </div>
</section>
<!-- <section class="filmmaker">
  <h1>I'm a filmmaker</h1>
</section>
<section class="designer">
  <h1>I'm a designer!</h1>
</section> -->

