@import 'mixins';

//colors
$accent-color: hsl(25, 94%, 53%);
$background-color: hsl(0, 0%, 98%);

.no-pad {
    padding:0;
}

.main-head-picture::after {
    box-shadow: 15px 0px 50px rgba(0, 0, 0, 0.20);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}

.name-container {
    height: 26em;
    border: black;
    /* background-color: aqua; */
}

.names {
    top: 80%;
}

.contstuff {
    position: absolute;
}

.name-content {
    position: absolute;
    top: 60%;
    color: black;
}

.cont-box {
    width: 20rem;
}

.intro-content{
  font-size: .8rem;
}

.name-main {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #707070;
}

.skills {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: .85rem;
    list-style-type: disc;
    padding: 0;
    width: 70%;
}

.info {
    background-image: url("assets/images/geometry.png");
}

.intro-text {
    font-weight: 500;
    font-size: 1.25rem;
}

li:first-child{
    list-style: none
}

.head-container {
    /* background-color: blue; */
    margin-left: 4em;
}


.content {
    padding: 1.5em;
}

.is-accented {
  color: $accent-color;
}

.mixin-test {
  @include responsive-font(1vw, 10px, 14px, false);
}
